body {
    font-family: Arial, sans-serif;
    background-color: #f2f3f7;
    color: #343a40;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5em;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

select, .sum-insured, button, .price-display {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.sum-insured {
    background-color: #f1f4f8;
    color: #0056b3;
    text-align: center;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.price-display {
    background-color: #e9f7e5;
    color: #28a745;
    font-weight: bold;
    text-align: center;
}

#sumaAseguradaContainer {
    color: red;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 25px;
}

#sumaAsegurada {
    color:#28a745;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
